Source: pptp-linux
Section: net
Priority: optional
Maintainer: Ola Lundqvist <opal@debian.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 4.0)

Package: pptp-linux
Architecture: any
Depends: ${shlibs:Depends}, ppp (>= 2.4.2)
Description: Point-to-Point Tunneling Protocol (PPTP) Client
 Client for the proprietary Microsoft Point-to-Point Tunneling
 Protocol, PPTP.  Allows connection to a PPTP based VPN as used
 by employers and some cable and ADSL service providers.
